@font-face {
    font-family: "pantonbold";
    src: url("fonts/panton-bold.woff") format('woff');
}

div[data-role=page] {
    background: url("images/mhw-bg-2.png") no-repeat fixed center;
    background-size: 90vh 130vh;
    background-position: bottom -20vh right -15vh;
}

#tabs {
    height: 12vh;
}

div.main {
    background: url("images/fon-line-dot.png") repeat;
}

#presenters, #vote {
    position: absolute;
    /*top: 12%;*/
    display: none;
}

.head {
    text-weight: bold;
    width: 20%;
}

#like, #dislike {
    /*width: 40%;*/
    height: 34%;
    /*position: fixed;*/
    left: 30%;
}

#showList {
    position: relative;
    right: 40%;
    width: 20%;
}

.navbar {
    position: relative;
    top: 5%;
}
.change-content{
    z-index: 2;
}
#one {
    text-align: center;
    margin-top: 10vh;
    height: 64vh;
    box-sizing: border-box;
}

#dislike {
    display: block;
    margin: 5vh auto 0;
}

#showPresenters, #vote {
    position: absolute;
    cursor: pointer;
    right: 7%;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    background-image: linear-gradient(0deg, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 1) 50%, rgba(255, 255, 255, 0) 51%);
    border: none;
    font-size: 20px;
    font-family: "pantonbold", sans-serif;
}

#logo_small {
    position: relative;
    top: 25px;
    left: 7%;
}

#currentSpeaker {
    /*position: relative;*/
    height:8vh;
    font-size: 20px;
    top: 55px;
    margin: 4vh auto 0;
    max-width: 90%;
    text-align: center;
}

#speaker {
    font-family: "pantonbold", sans-serif;
    font-size: 17px;
    position: relative;
    top: 10px;
    color: grey;
}

#project {
    font-family: "pantonbold", sans-serif;
}

.cell {
    position: relative;
    left: 2%;
    padding: 5px;
    font-size: 20px;
    font-family: "pantonbold", sans-serif;
}

.likeSymb {
    text-align: right;
    position: relative;
    right: 2%;
    font-size: 20px;
    font-family: "pantonbold", sans-serif;
}

#presenters {
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 95%;
    height: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba(217, 217, 217, 0.3);
    color: black;
}

input[type=image]:active, :focus, button {
    outline: none;
}

.vote-buttons {
    cursor: pointer;
}
